.box-all {

    width: 120rem;
    gap: 1rem;

}


.single {

    width: 23%;
    height: 40rem;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.233);
}

.single::before {

    position: absolute;
    content: '';
    background: var(--orange);
    width: 3rem;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 100px;
    height: 8rem;
}

.single::after {

    position: absolute;
    content: '';
    background: var(--orange);
    width: 3rem;
    top: 0;
    right: 0;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 100px;
    height: 8rem;
}

.icon {

    width: 100%;
    height: 33%;
    padding-top: 5rem;
    margin-bottom: 3rem;
}

.icon img {

    width: 10rem;
    height: 10rem;
    padding: 5px;
}

.name {

    width: 100%;
    height: 25%;
    background: var(--orange);
    align-items: center;

}

.name h3 {

    font-size: 2rem;
    font-weight: 600;
    width: 80%;
    color: #FFF;
}

.description {

    margin-top: 4rem;
    height: 30%;
}

.description p {

    font-size: 1.7rem!important;
    text-align: center;
    margin: 0!important;
    font-weight: 400!important;
    max-width: 20rem;
}

.subtitle p {

    font-size: 2rem;
    color: var(--blue);
}

@media screen and (max-width: 980px) {

    .single {

        min-width: 37.5rem;
    }
}